<% if current_user.follows?(user) %>
  <% initial_state = 'followed' %>
<% else %>
  <% initial_state = 'unfollowed' %>
<% end %>

<button 
  class="follow-toggle" 
  data-user-id="<%= user.id %>" 
  data-initial-follow-state="<%= initial_state %>">
</button>
